/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.hidden {
  display: none;
}
/******************************************
/* LAYOUT
/*******************************************/
a {
  color: inherit;
}
/* 
==========
Header
==========
*/
.header {
  display: flex;
  justify-content: space-between;
  background: black;
  color: white;
  padding: 1rem 2rem;
}
.logo-container {
}
.navbar {
}
.nav-item {
  padding: 0.5rem;
  display: inline;
  color: white;
}
.nav-btn {
  display: none;
}

/* 
==========
Hero section
==========
*/

.hero-section {
  width: 100%;
}
.hero-img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
/* 
==========
Members section
==========
*/
.members-section {
}
.section-heading {
  text-align: center;
  font-size: 2rem;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
}
.column {
  display: flex;
  flex-direction: column;
}
.member-card {
  /* width: 100%; */
}
.card-img {
  box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.77);
}
.card-content {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* 
==========
Media queries  
==========
*/

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .nav-btn {
    display: block;
  }
}
